@model vezba_lab3.Models.DoctorPatients
@{
    ViewBag.Title = "InsertPatient";
}

<h2>InsertPatient</h2>

@using (Html.BeginForm("InsertPatientValidate", "Doctors"))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.PatientId, new SelectList(Model.Patients, "Id", "Name"))
        @Html.HiddenFor(m => m.DoctorId)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Add patient</button>
    </div>
}